<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <script src="http://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous">
    </script>
    <style>
        #well {
            background: #fff;
        !important;
            font-size: large;
        }

        .nobr {
            white-space: nowrap
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- Add angular script here if any -->
    <script src="/angularjs/script.js"></script>
    <title>
        Welcome Anuvrat
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body style="background-color: whitesmoke" ng-app="indexPage">

<!-- Ebay Logo -->
<center>
    <img src="/images/favicon.ico" alt="ebay Logo">
</center><br /><br />

<!-- Beginning of container Div element -->
<div class="container">

    <!-- Random:  ng-pattern for email ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" -->
    <!-- 3 offset columns to get the well in the center -->
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>

    <!-- Define the two tabs -->
    <div class="col-md-6">
        <div class="well" id="well" style="border-style: ridge;">

            <!-- Add a green filled tick glyphicon -->
            <div class="nobr">
                <span class="glyphicon glyphicon-ok-circle white" style="color:	#209900; font-size: 50px; "> </span>
                <p style="color: green">
                    Welcome to eBay, <%= fname %>!
                </p>
            </div>

            We've created a unique username for you: <b><%= username %></b>
            <br /><br />
            <div ng-controller="ToHomePageController">
                <button style="height: 35px;" class="btn btn-primary btn-block" data-ng-click="RouteToHomePage()" >
                    <b>
                        Continue
                    </b>
                </button>
            </div>
            <br />
            <!-- Add the horizontal line with OR text center aligned -->
            <div style="height: 2px; background-color: lightgrey; text-align: center">
                    <span style="background-color: white; position: relative; top: -0.6em; color: gray;">
                        <small>&nbsp;OR&nbsp;</small>
                    </span>
            </div>

            <br />

            <div ng-controller="CustomizeIdController" >
                <div style="text-align: center;" ng-show="changeIDLink">
                    <a style="color: blue" href="" data-ng-click="CustomizeUsername()">Customize your username</a>
                    <br />
                </div>
                <form name="ChangeUserID" data-ng-submit="updateID()" novalidate>
                <div ng-show="changeID">
                    <small>Create your username or choose from our suggestions</small> <br />
                    <input type="text" style="font-size:12pt; height: 35px;" class="form-control input-lg" placeholder="Create your username" data-ng-model="create_username" required />
                    <br />
                    <input type="submit" style="height: 35px;" value="Save" class="btn btn-primary btn-block" ng-disabled="ChangeUserID.$invalid" />
                </div>

            </div>






        </div>
        <!-- End of well element div -->
    </div>
    <!-- End of column md-6 element div -->



    <!-- Offset bootstrap columns -->
    <div class="col-md-1 "></div>
    <div class="col-md-1 "></div>
    <div class="col-md-1 "></div>



    <!-- End of row div element -->
</div>
<!-- End of container div element -->
</body>

</html>